<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.oliveandwine.trashcan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/trashcan_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/trashcan_icon"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.Trashcan">

        <receiver android:name="kr.co.oliveandwine.trashcan.Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <activity android:name="kr.co.oliveandwine.trashcan.MyMarkerPage" />
        <activity android:name="kr.co.oliveandwine.trashcan.MainActivity" />
        <activity android:name="kr.co.oliveandwine.trashcan.Login" />
        <activity android:name="kr.co.oliveandwine.trashcan.Profile" />
        <activity android:name="kr.co.oliveandwine.trashcan.WelcomeActivity" />
        <activity android:name="kr.co.oliveandwine.trashcan.info_notice" />
        <activity android:name="kr.co.oliveandwine.trashcan.info_question" />
        <activity android:name="kr.co.oliveandwine.trashcan.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="1u6wfhzku8" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <!-- ca-app-pub-4067037836121517~7717855373 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <service android:name="kr.co.oliveandwine.trashcan.testService" />
        <service android:name="kr.co.oliveandwine.trashcan.util.PedometerService" />
    </application>

</manifest>